<section class="favorites">
        <div class="container favorites-container">
          <h2 class="favorites-title">Favorites</h2>
          <div class="favorites-wrapper">
            <div class="favorites-aside-content"><load src="partials/favorites/exercises.html" /></div>
            <div class="favorites-exercise-wrapper">
              <p class="favorites-not-found-text hidden">
                It appears that you haven't added any exercises to your
                favorites yet. To get started, you can add exercises that you
                like to your favorites for easier access in the future.
              </p>
              <div class="favorites-exercise-card-wrapper">
            </div>
            <nav class="pagination-nav"></nav>
          </div>
        </div>
      </section>