<container class="container-exercises-filter-buttons">
    <h2 class="exercises-main-title">Exercises</h2>
    <ul class="exercises-filter-list">
        <li class="filter-items">
            <button class="exercises-filter-btn 
                           filter-of-body-parts">Body parts</button>
        </li>
        <li class="filter-items">
            <button class="exercises-filter-btn 
                           filter-of-muscles">Muscles</button>
        </li>
        <li class="filter-items">
            <button class="exercises-filter-btn 
                           filter-of-equipment">Equipment</button>
        </li>
    </ul>
<container class="container-exercises-markup">
        <ul class="list-for-new-exercises"></ul>
</container>
</container>


 



