<div class="asidebar-container">
  <div class="quote-container">
    <div class="quote-icon-men">
      <svg width="18" height="20">
        <use href="/img/symbol-defs.svg#icon-aside-men"></use>
      </svg>
    </div>
    <div class="quote">
      <div class="quote-title-container">
        <h3 class="quote-title">Quote of the day</h3>
        <svg class="quote-icon-marks" width="20" height="20">
          <use href="/img/symbol-defs.svg#icon-aside-marks"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="asidebar-img-container">
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="
          /img/aside/aside-bg-mobile.jpg    1x,
          /img/aside/aside-bg-mobile@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 1439px)"
        srcset="
          /img/aside/aside-bg-tablet.jpg    1x,
          /img/aside/aside-bg-tablet@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 1440px)"
        srcset="/img/aside/aside-bg.jpg 1x, /img/aside/aside-bg@2x.jpg 2x"
      />
      <img
        class="asidebar-img"
        src="/img/aside/aside-bg-mobile.jpg"
        alt="women sportswear taking break from workout"
        width="335"
        height="242"
      />
    </picture>
  </div>
  <div class="daily-sport-container">
    <div class="icon-barbell">
      <svg width="20" height="20">
        <use href="/img/symbol-defs.svg#icon-aside-barbell"></use>
      </svg>
    </div>
    <div class="daily-sport-info">
      <h3 class="daily-sport-title">110 min</h3>
      <p class="daily-sport-subtitle">Daily norm of sports</p>
      <p class="daily-sport-text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </p>
    </div>
  </div>
</div>
