<footer class="footer container">
  <!-- Логотип -->

  <div class="footer-logo-social">
    <div class="logo">
      <a class="style-footer" href="../index.html" id="logo-link">
        <svg class="footer-logo-link" width="132" height="24">
          <use href="../img/symbol-defs.svg#icon-logo-icon"></use>
        </svg>
      </a>
    </div>

    <!-- Соціальні мережі -->
    <div class="footer-social-section">
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a class="footer-social-link link" href="https://www.facebook.com/goITclub/" target="_blank">
            <svg class="social-icons" width="28" height="28">
              <use href="../img/symbol-defs.svg#icon-footer-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a class="footer-social-link link" href="https://www.instagram.com/goitclub/" target="_blank">
            <svg class="social-icons" width="28" height="28">
              <use href="../img/symbol-defs.svg#icon-footer-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a class="footer-social-link link" href="https://www.youtube.com/c/GoIT" target="_blank">
            <svg class="social-icons" width="28" height="28">
              <use href="../img/symbol-defs.svg#icon-footer-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-form">
    <p class="footer-text">Transforming your <span class="italic-word">body</span> shape with us</p>
  </div>

  <div class="subscribe-form">
    <p class="subscribe-text">Subscribe and learn about new exercises!</p>

    <!-- Форма підписки -->
    <form id="subscription-form">
      <input type="email" id="email-input" placeholder="Email" required>
      <button id="subscribe-button" type="submit">Send</button>
    </form>
  </div>

  <!-- Захист прав -->
  <div class="copyright">
    <p class="copyright-text">Your Energy. All rights reserved.</p>
    <div class="copyright-footer-text">
      <a class="copyright-link" href="#">Privacy Policy</a>&nbsp; / &nbsp;<a class="copyright-link" href="#">Terms of
        Service</a>
    </div>
    <p class="copyright-ftr">&copy; 2023</p>
  </div>




</footer>