<footer class="footer">
  <!-- Логотип -->
  <div class="logo">
    <a href="../index.html" id="logo-link">
      <svg class="footer-logo-link" width="132" height="24">
        <use href="../img/symbol-defs.svg#icon-logo-icon"></use>
        <!-- Додайте інші шляхи та стилі для вашого логотипу -->
      </svg>
    </a>
  </div>

  <!-- Соціальні мережі -->
  <ul class="social-icons">
    <li><a href="https://www.facebook.com/goITclub/" target="_blank">
        <svg class="social-icons" width="24" height="24">
          <use href="../img/symbol-defs.svg#icon-footer-facebook"></use>
        </svg></a>
    </li>
    <li><a href="https://www.instagram.com/goitclub/" target="_blank">
        <svg class="social-icons" width="24" height="24">
          <use href="../img/symbol-defs.svg#icon-footer-instagram"></use>
        </svg></a>
    </li>
    <li><a href="https://www.youtube.com/c/GoIT" target="_blank">
        <svg class="social-icons" width="24" height="24">
          <use href="../img/symbol-defs.svg#icon-footer-youtube"></use>
        </svg></a></li>
  </ul>

  <!-- Форма підписки -->
  <form id="subscription-form">
    <input type="email" id="email-input" placeholder="Ваша пошта" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      required>
    <button type="submit">Підписатися</button>
  </form>

  <!-- Захист прав -->
  <div class="copyright">
    &copy; 2023
  </div>

</footer>