<header class="header">
  <div class="container header__container">
    <nav class="header__nav">
      <a class="logo" href="./index.html">
        <svg class="logo__svg" width="132" height="24">
          <use
            class="logo__use"
            href="./img/symbol-defs.svg#icon-logo-icon"
          ></use>
        </svg>
      </a>
      <ul class="header__list">
        <li class="list__item">
          <a class="list__link is-active" href="./index.html">Home</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="./favorites.html">Favorites</a>
        </li>
      </ul>
      <address>
        <ul class="header__address">
          <li>
            <a
              class="address__link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="address__svg" width="44" height="44">
                <use href="./img/symbol-defs.svg#icon-header-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="address__link zhopa"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="address__svg" width="44" height="44">
                <use href="./img/symbol-defs.svg#icon-header-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="address__link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="address__svg" width="44" height="44">
                <use href="./img/symbol-defs.svg#icon-header-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>
    </nav>
  </div>
  <div class="mobile-menu">
    <div class="container">
      <div class="mobile-menu__wrapper">
        <a class="logo" href="./index.html">
          <svg class="logo__svg" width="132" height="24">
            <use href="./img/symbol-defs.svg#icon-logo-icon"></use>
          </svg>
        </a>
        <button class="menu-mob__open-btn" data-menu-open type="button">
          <svg class="menu-mob__open-ico" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-burger-menu"></use>
          </svg>
        </button>
      </div>
      <div class="mobile-menu__wrapper--wide" data-menu>
        <div class="container--mobile">
          <button class="menu-mob__close-btn" data-menu-close type="button">
            <svg class="menu-mob__close-ico" width="32" height="32">
              <use href="./img/symbol-defs.svg#close"></use>
            </svg>
          </button>
          <nav>
            <ul class="mobile-list">
              <li class="mobile-list__item">
                <a class="mobile-list__text menu-box-link" href="./index.html"
                  >Home</a
                >
              </li>
              <li class="mobile-list__item">
                <a
                  class="mobile-list__text menu-box-link--s"
                  href="./favorites.html"
                  >Favorites</a
                >
              </li>
            </ul>
          </nav>
          <address>
            <ul class="header__address--mobile">
              <li>
                <a
                  class="address__link--mobile"
                  href="https://www.facebook.com/goITclub/"
                  target="_blank"
                >
                  <svg class="address__svg--mobile" width="44" height="44">
                    <use
                      href="./img/symbol-defs.svg#icon-header-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="address__link--mobile"
                  href="https://www.instagram.com/goitclub/"
                  target="_blank"
                >
                  <svg class="address__svg--mobile" width="44" height="44">
                    <use
                      href="./img/symbol-defs.svg#icon-header-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="address__link--mobile"
                  href="https://www.youtube.com/c/GoIT"
                  target="_blank"
                >
                  <svg class="address__svg--mobile" width="44" height="44">
                    <use href="./img/symbol-defs.svg#icon-header-youtube"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </address>
        </div>
      </div>
    </div>
  </div>
</header>
