<div class="subscribe-backdrop hidden">
  <div class="subscribe-modal">
    <button class="close-subscribe-btn" type="button" data-modal-close>
      <svg class="close" width="24" height="24">
        <use href="./img/symbol-defs.svg#close"></use>
      </svg>
    </button>

    <h2 class="subscribe-modal-title">
      Subscribe and learn about new exercises!
    </h2>

    <div class="subscribe-img">
      <!-- <img src="./img/gym.jpeg" alt="Gachi" /> -->
    </div>

    <form class="subscribe-modal-form">
      <input
        class="subscribe-email"
        type="email"
        name="email"
        placeholder="Email"
        required
      />

      <button type="submit" class="subscribe-submit-btn">Send</button>
    </form>
  </div>
</div>
