.asidebar-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.quote-container {
  display: flex;
  border-radius: 20px;
  background-color: #242424;
  max-width: 335px;
  width: 100%;
  padding: 20px;
  gap: 18px;
}

.quote {
  width: 193px;
}
.quote-icon-men {
  width: 34px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(244, 244, 244, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
}

.quote-title-container {
  display: flex;
}

.quote-title {
  color: #f4f4f4;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-right: 80px;
}
.quote-icon-marks {
  fill: #ffffff;
}
.quote-text {
  color: rgba(244, 244, 244, 0.6);
  line-height: 1.29;
  margin-top: 6px;
  margin-bottom: 16px;
}
.quote-author {
  color: #f4f4f4;
  line-height: 1.29;
  font-size: 14px;
}

.asidebar-img {
  max-width: 335px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}
.daily-sport-container {
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  gap: 18px;
  max-width: 335px;
  height: 203px;
  width: 100%;
}
.icon-barbell {
  border-radius: 50%;
  fill: #f4f4f4;
  width: 34px;
  height: 32px;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
}

.daily-sport-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
}
.daily-sport-subtitle {
  color: rgba(36, 36, 36, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  margin-bottom: 16px;
}
.daily-sport-text {
  width: 190px;
  line-height: 1.29;
}

/* FAVORITES */
.favorites-asidebar-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.favorites-quote-container {
  display: flex;
  border-radius: 20px;
  background-color: #242424;
  max-width: 335px;
  width: 100%;
  padding: 20px;
  gap: 18px;
}
.favorites-quote {
  width: 193px;
}
.favorites-quote-title {
  color: #f4f4f4;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-right: 80px;
}
.favorites-quote-text {
  color: rgba(244, 244, 244, 0.6);
  line-height: 1.29;
  margin-top: 6px;
}
.favorites-quote-author {
  color: #f4f4f4;
  line-height: 1.29;
  font-size: 14px;
  display: none;
}
.favorites-daily-sport {
  padding: 20px 141px 20px 20px;
  border-radius: 20px;
  background-color: #ffffff;
  max-width: 335px;
  height: 119px;
  width: 100%;
}
.favorites-icon-barbell {
  fill: #242424;
}

.favorites-dailysport-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-top: 15px;
  margin-bottom: 6px;
}
.favorites-dailysport-subtitle {
  color: rgba(36, 36, 36, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}

.favorites-asidebar-img {
  max-width: 335px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}

/* MEDIA */
@media screen and (max-width: 374px) {
}
@media screen and (min-width: 375px) {
  .quote {
    width: 243px;
  }

  .daily-sport-text {
    width: 245px;
  }

  .favorites-quote {
    width: 243px;
  }

  .favorites-daily-sport {
    padding-right: 196px;
  }
}
@media screen and (min-width: 768px) {
  .asidebar-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
  }
  .quote-container {
    max-width: 400px;
    height: 249px;
    padding: 40px;
    gap: 16px;
  }
  .quote {
    width: 270px;
  }
  .quote-title {
    font-size: 24px;
    margin-right: 74px;
    line-height: 1.33;
  }
  .quote-text {
    margin-bottom: 18px;
  }
  .quote-author {
    line-height: 1.5;
    font-size: 16px;
  }
  .asidebar-img {
    max-width: 288px;
  }

  .daily-sport-container {
    padding: 40px;
    max-width: 400px;
    height: 249px;
    gap: 16px;
  }
  .daily-sport-title {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 6px;
  }
  .daily-sport-text {
    width: 270px;
  }
  .favorites-asidebar-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
  }
  .favorites-quote-container {
    max-width: 704px;
    height: auto;
    padding: 40px;
    gap: 16px;
  }
  .favorites-quote {
    width: 574px;
  }
  .favorites-quote-title {
    font-size: 24px;
    line-height: 1.33;
    margin-right: 378px;
  }
  .favorites-quote-text {
    margin-bottom: 18px;
  }
  .favorites-quote-author {
    line-height: 1.5;
    font-size: 16px;
    display: block;
  }
  .favorites-asidebar-img {
    max-width: 344px;
  }
  .favorites-daily-sport {
    max-width: 344px;
    height: 141px;
    padding: 25px 200px 25px 25px;
  }
  .favorites-dailysport-title {
    font-size: 24px;
    line-height: 1.33;
  }
}
@media screen and (min-width: 1440px) {
  .asidebar-container {
    flex-direction: column;
    gap: 32px;
    justify-content: center;
  }
  .quote-container {
    max-width: 444px;
    height: auto;
  }
  .quote {
    width: 314px;
  }
  .quote-title {
    margin-right: 118px;
  }
  .asidebar-img {
    max-width: 444px;
  }
  .daily-sport-container {
    max-width: 444px;
    height: 315px;
  }
  .daily-sport-text {
    width: 314px;
  }
  .favorites-asidebar-container {
    max-width: 494px;
  }
  .favorites-quote-container {
    max-width: 494px;
  }
  .favorites-quote {
    width: 364px;
  }
  .favorites-quote-title {
    margin-right: 168px;
  }
  .favorites-asidebar-img {
    max-width: 239px;
  }
  .favorites-daily-sport {
    max-width: 239px;
    padding-right: 95px;
  }
}
@media screen and (max-width: 1439px) {
  .daily-sport-text {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}
