.favorites {
  background: #f4f4f4;
}
.favorites-container {
  margin: 0 auto;
  max-width: 375px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.favorites-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -0.56px;
}
.favorites-wrapper {
  margin-top: 20px;
}
.favorites-aside-content {
  height: calc(318px + 119px - 20px);
  outline: rgb(150, 150, 150) solid 1px;
}
.favorites-exercise-wrapper {
  margin-top: 40px;
}
.favorites-not-found-text {
  max-width: 318px;
  text-align: center;
  line-height: 18px;
}
.favorites-exercise-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.favorites-exercise-card {
  width: 100%;
  border-radius: 15px;
  background: #fff;
  display: flex;
  max-width: 335px;
  padding: 16px;
  flex-direction: column;
}
.exercise-card-top {
  display: flex;
  align-items: center;
}
.exercise-card-top-text {
  border-radius: 15px;
  border: 1px solid #242424;
  padding: 5px 7.5px;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}
.exercise-card-remove-btn {
  /* display: flex;
  align-items: center; */
  /* gap: 2px; */
  /* transition: ease-in-out 300ms; */
  /* overflow: hidden; */
  margin-left: 8px;
  background-color: transparent;
  border: none;
  /* color: #fff;
  font-size: 12px;
  line-height: 10px; */
}
/* .exercise-card-remove-btn:hover,
.exercise-card-remove-btn:focus {
  width: 228px;
  background-color: #242424;
  border-radius: 30px;
  border: 1px solid #f4f4f4;
  height: 27px;
  flex-direction: row-reverse;
} */
.exercise-card-remove-icon {
  fill: #242424;
  stroke: #fff;
}
.exercise-card-start-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 18px;
}
.exercise-card-start-icon {
  fill: black;
  stroke: black;
  transform: rotate(90deg);
}
.exercise-card-mid {
  display: flex;
  align-items: center;
  margin-top: 27px;
  gap: 16px;
}
.man-icon-wrapper {
  border-radius: 50%;
  background-color: #242424;
  width: 24px;
  height: 24px;
  padding: 2px;
}
.exercise-card-man-icon {
  fill: #f4f4f4;
  padding: 2px;
}
.exercise-card-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
.exercise-card-bottom {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.exercice-card-indexes {
  color: rgba(36, 36, 36, 0.4);
  font-size: 12px;
  line-height: 18px;
}
.exercice-card-indexes-values {
  color: #242424;
}
@media screen and (min-width: 768px) {
  .favorites-container {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 768px;
  }
  .favorites-title {
    font-size: 44px;
    line-height: 48px;
    letter-spacing: -0.88px;
  }
  .favorites-wrapper {
    margin-top: 32px;
  }
  .favorites-aside-content {
    height: calc(141px + 236px);
  }
  .favorites-not-found-text {
    max-width: 554px;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto;
    margin-top: 132px;
    margin-bottom: 87px;
  }
  .favorites-exercise-wrapper {
    margin-top: 64px;
  }
  .favorites-exercise-card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 16px;
  }
  .favorites-exercise-card {
    max-width: calc((100% - 16px) / 2);
  }
  .exercise-card-title {
    font-size: 24px;
    line-height: 32px;
  }
  .exercise-card-bottom {
    margin-top: 8px;
  }
  .exercise-card-start-btn {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .favorites-container {
    padding-top: 90px;
    padding-bottom: 51px;
    max-width: 1440px;
  }
  .favorites-aside-content {
    height: calc(141px + 246px);
    width: 494px;
    margin-bottom: 151px;
  }
  .favorites-wrapper {
    display: flex;
    gap: 32px;
    margin-top: 44px;
  }
  .favorites-not-found-text {
    margin-left: 148px;
    margin-top: 102px;
  }
  .favorites-exercise-wrapper {
    margin-top: 0;
  }
  .favorites-exercise-card {
    max-width: 405px;
  }
  .exercise-card-bottom {
    gap: 16px;
  }
  .favorites {
    width: 100vw;
    height: 100vh;
  }
}
