footer {
  background-color: #242424;
  color: #F4F4F4;
  max-width: 100%;
  height: auto;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.logo {
  font-size: 24px;
  padding: 40px 223px 20px 20px;
}

.style-footer {
  display: flex;
  justify-content: center;
}

.footer-logo-link {
  flex-shrink: 0;
  fill: #f4f4f4;
}

/*! соц. іконки */

.footer-social-section {
  padding-bottom: 40px;
}

.footer-social-list {
  justify-content: center;
  display: flex;
  align-items: flex-start;
  display: inline-flex;
  gap: 12px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  border: 1px solid rgba(244, 244, 244, 0.10);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F4F4F4;
}

.footer-social-link:hover,
.footer-social-link:focus {
  border-radius: 10px;
  border: 1px solid rgba(244, 244, 244, 0.10);
  background-color: #F4F4F4;
  color: #242424;
}

.social-icons {
  fill: currentColor;
  opacity: 0.8;
}

.social-icon {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
}

.footer-text {
  color: #F4F4F4;
  font-family: Neue Montreal;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 20px;
  letter-spacing: -0.8px;
  padding-bottom: 20px;
}

.italic-word {
  color: #F4F4F4;
  font-family: Neue Montreal;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.8px;
}

.italic-word:first-of-type {
  font-style: italic;
}

.subscribe-text {
  color: #F4F4F4;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  margin-bottom: 20px;
}

#subscription-form {
  gap: 20px;
  display: grid;
}

#subscribe-button {
  display: flex;
  width: 335px;
  padding: 12px 152px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background: #F4F4F4;
  border: none;
  cursor: pointer;
  margin-bottom: 100px;
}

#email-input {
  /* max-width: 100%; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 12px 14px 12px 14px;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #F4F4F4;
  background-color: #242424;
  color: rgba(244, 244, 244, 0.60);
  width: 335px;
}

.copyright {
  color: #fff;
  font-size: 14px;
}

.copyright-text {
  color: #C6CDD1;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  margin-bottom: 10px;
  opacity: 0.9;
}

.copyright-link {
  color: #C6CDD1;
  text-align: right;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  text-decoration: none;
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
}

.copyright-link:hover {
  text-decoration: underline;
}

.copyright-ftr {
  color: #C6CDD1;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  margin: 0 20px 20px 270px;
  margin-top: -1.25em;
}

.copyright-footer-text,
.copyright-ftr {
  display: flex;
}

/*! Медіа 768*/

@media screen and (min-width: 376px) and (max-width: 767px) {
  .footer {
    max-width: 767px;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 100%;
    height: auto;
  }

  .logo {
    padding: 64px 604px 32px 32px;
  }

  .footer-form {
    padding: 64px 32px 32px 240px;
    margin-top: -200px;
  }

  .footer-text {
    color: #F4F4F4;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: -1.12px;
    /* padding: 64px 32px 32px 288px; */
  }

  .italic-word {
    color: #F4F4F4;
    font-size: 56px;
    font-style: italic;
    line-height: 1.07;
    letter-spacing: -1.12px;
  }

  .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .subscribe-text {
    color: #F4F4F4;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 20px;
    text-align: right;
    padding-right: 163px;
  }

  #subscription-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    padding-right: 130px;
  }

  #email-input {
    display: flex;
    padding: 12px 14px 12px 14px;
    align-items: center;
    gap: 10px;
    line-height: 1.5;
    border-radius: 30px;
    border: 1px solid #F4F4F4;
    color: rgba(244, 244, 244, 0.60);
    font-size: 16px;
    background-color: #242424;
  }

  #subscribe-button {
    display: flex;
    padding: 12px 157px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    background-color: #F4F4F4;
    color: #242424;
    font-size: 16px;
    line-height: 1.5;
  }

  .copyright {
    display: flex;
  }

  .copyright-text {
    color: #C6CDD1;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.28px;
    margin: 0;
    padding-right: 78px;
  }

  .copyright-footer-text {
    color: #C6CDD1;
    text-align: right;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.28px;
    padding-right: 208px;
  }

  .copyright-link {
    color: #C6CDD1;
    text-align: right;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.28px;
  }

  .copyright-ftr {
    color: #C6CDD1;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.28px;
    opacity: 0.9;
    margin: 0;
  }
}

/*! Media 1440*/

@media screen and (min-width: 1440px) {

  .footer {
    max-width: 100%;
    flex-direction: row;
    flex-direction: column;
  }

  .style-footer {
    justify-content: left;
  }

  .footer-social-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
  }

  .footer-text {
    width: 554px;
  }

  .subscribe-form {
    justify-content: space-between;
  }

  .subscribe-text {
    padding-right: 65px;
  }

  #subscription-form {
    padding-right: 32px;
  }

  #subscribe-button {
    display: flex;
    padding: 12px 157px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    background: #F4F4F4;
  }

  .copyright {}

  .copyright-text {
    padding-right: 136px;
    margin-bottom: 0;
  }

  .copyright-footer-text {
    padding-right: 515px;
  }
}