.mobile-menu {
  display: none;
}

.logo {
  width: 132px;
  height: 24px;
}
.logo__svg {
  fill: #242424;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__svg:hover,
.logo__svg:focus {
  fill: rgba(36, 36, 36, 0.8);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  border-radius: 26px;
  display: flex;
  gap: 20px;
  border-color: none;
  background-color: #242424;
  color: white;
}

.list__link {
  display: inline-block;
  padding: 6px 12px;
  line-height: 1.5;
  font-size: 16px;
}
.list__link:hover,
.list__link:focus {
  cursor: pointer;
  color: #242424;
  background-color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list__link:hover,
.list__link:focus {
  border-radius: 20px;
}

.header__address {
  display: flex;
  gap: 12px;
}
.header__address li {
  width: 44px;
  height: 44px;
}

.address__svg {
  fill: #242424;
  padding: 8px 8px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__svg:hover,
.address__svg:focus {
  fill: #f4f4f4;
  background-color: rgba(36, 36, 36, 0.8);
  border: 1px solid rgba(36, 36, 36, 1);
}

.address__link {
  display: inline-block;
  width: 44px;
  height: 44px;
}
.address__link:hover,
.address__link:focus,
.address__link--mobile:hover,
.address__link--mobile:focus {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
  }
  .header__list {
    width: 233px;
    padding: 8px 31px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-top: 28px;
  }
  .header__list {
    width: 265px;
    padding: 8px 52px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 20px;
  }
  .header__container {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .mobile-menu__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-menu__wrapper--wide {
    display: none;
  }
  .container--mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 100%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-mob__open-btn {
    height: 32px;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
  }
  .menu-mob__open-ico {
    stroke: #242424;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-mob__open-ico:hover,
  .menu-mob__open-ico:focus {
    stroke: rgba(36, 36, 36, 0.8);
  }
  .mobile-menu__wrapper--wide.is-open {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-color: #242424;
  }
  .header__address--mobile {
    display: flex;
    gap: 12px;
    justify-content: center;
  }
  .header__address--mobile {
    width: 44px;
    height: 44px;
  }
  .address__link--mobile {
    display: inline-block;
    width: 44px;
    height: 44px;
  }
  .address__svg--mobile {
    fill: #f4f4f4;
    padding: 8px 8px;
    border: 1px solid rgba(244, 244, 244, 0.1);
    border-radius: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address__svg--mobile:hover,
  .address__svg--mobile:focus {
    fill: #242424;
    border-color: #f4f4f4;
    background-color: #f4f4f4;
  }
  .mobile-list__item:first-child {
    padding-bottom: 16px;
  }
  .mobile-list__item {
    text-align: center;
    line-height: 1.28;
    color: #f4f4f4;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-list__item:hover,
  .mobile-list__item:focus {
    color: rgba(244, 244, 244, 0.1);
  }
  .menu-mob__close-btn {
    width: 32px;
    height: 32px;
    align-self: flex-end;
    margin: 0;
    border: none;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
  }
  .menu-mob__close-ico {
    stroke: white;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-mob__close-ico:focus,
  .menu-mob__close-ico:hover {
    stroke: rgba(244, 244, 244, 0.1);
  }
}
