.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    gap: 8px;
    list-style: none;
    border-radius: 0.25rem;
  }
  
  .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  
    color: #d4d4d4;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.8px;
    cursor: pointer;
  }
  
  .page-link.active {
    width: 30px;
    height: 30px;
    border: 1px solid #242424;
    border-radius: 50%;
  
    color: #242424;
    cursor: unset;
  }
  
  .page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }