/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.exercises {
  display: flex;
  flex-direction: column-reverse;
  gap: 80px;
}
@media screen and (max-width: 374px) {
  .container {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .exercises {
    gap: 64px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
  .exercises {
    flex-direction: row;
    gap: 32px;
  }
}
