@import url('./reset.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./scroll-up.css');
@import url('./exercises-aside.css');
@import url('./exercises-main.css');
@import url('./exercises.css');
@import url('./modal-ex.css');
@import url('./favorites.css');
@import url('../../node_modules/modern-normalize/modern-normalize.css');
@import url('./pagination.css');
@import url('./exercises-header.css');
@import url('./exercises-workouts.css');
@import url('./loader.css');

:root {
  font-size: 14px;
  color: #242424;
  font-family: 'PP Neue Montreal', sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'PP Neue Montreal';
  src: url(../fonts/NeueMontreal-Regular.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'PP Neue Montreal';
  src: url(../fonts/NeueMontreal-Italic.otf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'PP Neue Montreal';
  src: url(../fonts/NeueMontreal-Medium.otf);
  font-style: normal;
  font-weight: 500;
}
